<nb-layout>
  <nb-layout-header><h2>Login</h2></nb-layout-header>
  <nb-layout-column class="container">
    <label><h1>Student CURD</h1></label><br><br>
    <input [(ngModel)] = "loginData.email" name="email" nbInput class="input" placeholder="Username = 'test'"><br>
    <input [(ngModel)] = "loginData.password" name="password" nbInput class="input" placeholder="Password = 'test'" (keyup.enter) = "login()"><br>
    <button nbButton class="button" (click) = "login()">Login</button>
  </nb-layout-column>
  <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout>