.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center
}

.input{
    width: 30%
}

.button{
    display: flex;
    justify-content: center;
    width: 20%;
    min-width: 80px;
    min-height: 50px;
}