<nb-layout>
  <nb-layout-header>
    <div class="header">
      <h2>Crude</h2>
      <button nbButton class="logout" (click) = "logout()">Logout</button>
    </div>
  </nb-layout-header>
  <nb-sidebar class="sidebar">
      <nb-menu [items]="items">
      </nb-menu>
  </nb-sidebar>
  <nb-layout-column class="container">
    <nb-card size="medium" class="card">
      <nb-card-header>
        Students
      </nb-card-header>
      <nb-list>
        <nb-list-item class="list" *ngFor = "let list of listOfStudents">
          {{list.name}} {{list.surname}} {{list.index}}
          <button class="delete" nbButton status="danger" (click) = "deleteStudent(list._id)">Delete</button>
        </nb-list-item>
      </nb-list>
    </nb-card>
    <!-- <div class="buttons"> 
      <button class="button" routerLink = "/add" nbButton status="info">Add</button>
      <button class="button" routerLink = "/edit" nbButton status="info">Edit</button>
    </div> -->
  </nb-layout-column>
  <nb-layout-footer>Contact us</nb-layout-footer>
</nb-layout>